canvas{
	background-color: #ffffff;
}

body{
	background-color: #ddd;
	overflow-x: hidden;
}
#screen{
	position: absolute;
	top: 0px;
	height: 100%;
	z-index: -1;
}

#front{	
	position: absolute;
	top: 200px;
	left: 50%;
	text-align: center;
	margin-left: -585px;
	width: 1170px;
	font-family: 'Roboto Slab', serif;
	background-color: white;
}
#front > h1{
	margin-top: 0px;
	font-size: 122px;
}